.main-wrap {
    padding-block: 32px;
    padding-inline: 32px;
}

.main-content {
    display: flex;
    flex-direction: column;

    min-height: calc(100vh - 32px*2 - 97px);
    height: fit-content;

    background-color: var(--white);
}

.main-content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 16px;
    padding-inline: 32px;
}

.main-content__title {
    font-size: 16px;
    font-weight: normal;
}

.main-content__controlls {
    display: flex;
    align-items: center;
    gap: 8px;

    .icon-wrapper {
        cursor: pointer;
        transition: background-color 300ms ease-in-out;

        &:hover {
            background-color: var(--gray);
        }
    }
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#loading {
    display: block;
    animation: spin 2s ease-in-out 250ms infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}